* {
  margin: 0px;
}

.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5px;
}

.ipl-name-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.logo {
  height: 35px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .logo {
    height: 80px;
  }
}

.heading {
  color: #ffffff;
  font-family: 'bree-serif';
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 70px;
  }
}

.team-card-container {
  list-style-type: none;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}
